# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
name: graphapp
services:
  postgresql:
    image: postgres:16
    environment:
      - POSTGRES_DB=graphapp
      - POSTGRES_USER=graphapp
      - POSTGRES_PASSWORD=admin
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - 127.0.0.1:5432:5432
